$size: 16px;
$color: #1f447f;
$weight: bold;

ul {
    font-size: $size;
    color: $color;
}

a{
  font-weight: $weight;
  font-size: $size;
}

p{
  font-weight: $weight;
}

div {
    p {
        font-weight: normal;
        color: #dd4f42;
      }
}
